@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
}

header{
    left: 0; top : 0; right : 0;
    height : 40px;
    padding-top : 10px;
    position: fixed;
    margin : 0 auto;
    width :100%;
    font-size: 24px;
    background-color: white;
}
header a{
    color: black; 
    text-decoration:none;
    background-color: white;
}
header>div{
    margin-left: 20%;
    background-color: white;
}

main{
    margin : 100px auto;
    width : 60%;
}

table{
    margin: 40px 0;
    width : 100%;
    text-align: center;
}

th{
    background-color: #1D79F2;
    color : white;
    font-weight: 300;
    height : 30px;
}
td{
    font-size : 1em;
}

tr td {
    height : 40px;
}

.selected{
    background-color: rgb(246, 241, 130);
}

.deleteBtn{
    background-color: #F20505;
    border : none;
    color : white;
    width : 20px;
    height : 20px;
}

.resultTimeTable th{
    width : 100px;
}

#howMany{
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(255, 38, 0);
}

#autoInputBox{
    margin-bottom:40px;
}

#manualTable{
    display: none;
}

.desc{
    font-size: 1.2em;
    color :rgb(0, 106, 255);
    font-weight: 600;
    margin-bottom : 20px;
}
input{
    width : 100%;
}

#howToUse{
    margin : 40px 0;
}

#notice{
    color : white;
    background-color: #fd6a53;
    padding : 20px;
    margin-bottom:20px;
    font-size : 1.1em;
}

#step div{
    background-color: #1D79F2;
    padding : 20px;color : white;
}

footer{
    color : black;
    margin : 40px 0;
    text-align: center;
}

button{
    background-color: #1D79F2;
    border:none;
    width : 100px;
    height : 40px;
    color : white;
    border-radius: 16px;
    margin:20px 0;
    font-size: 1.2em;
}